.wrapper h1{
    text-align: center;
    color: red;
}
.image{
   float: left;
   width: 27%;
   padding: 3%;

} 

.image>a>img{
    display:inline-block;
    align-items: center;
    max-width:100%;
    max-height:100%;
}
.image h2{
    color: rgb(107, 172, 224);
    font-size: 16;
    padding-left: 5%;
}
.image p{
    align-items: center;
    width: 90%;
    padding-left: 5%;
}

